<!DOCTYPE html>
<html lang="en">

{% load suponoff %}
{% load staticfiles %}

  <head>
  <meta charset="utf-8"/>

  {% block title %}
  <title>Supervisor On/Off</title>
  {% endblock title %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//gitcdn.github.io/bootstrap-toggle/2.0.0/css/bootstrap-toggle.min.css">
  <link rel="stylesheet" href="{% static "suponoff/suponoff.css" %}">

  {% block extra_head %}
  {% endblock extra_head %}

  </head>

  <body>

  {% block body %}

  {% block content %}

  <table id="tags_control">
    <tr>
      <th>Groups</th>
      <th>Filters</th>
    </tr>
  </table>

  <div class="clearfix" style="clear:both; margin: 10px">
    Mode: <input id="tag-filter-mode" type="checkbox" data-toggle="toggle"
                 data-on="AND" data-off="OR">
    <a id="tag-filter-all" href="#">[all]</a>
    <a id="tag-filter-none" href="#">[none]</a>
  </div>

  {% endblock content %}

  <div id="rootbox" class="rootbox"></div>

  <div id="groups" style="display:none"></div>

  <div id="protos" style="display:none">

    <div class="box">
      <h3><span class="attname toggle-box">:
        </span><span class="attvalue toggle-box"></span>
      <small class="nprocs-counts toggle-box">(<span class="nprocs-running">1</span>
          / <span class="nprocs-total">3</span> running)</small>
        <div class="buttons">
          <button type="button"
            class="btn btn-xs btn-success btn-startall group-action"
            data-action="start_all" data-loading-text="Starting..."
            >Start all</button>
          <button type="button"
            class="btn btn-xs btn-danger btn-stopall group-action"
            data-action="stop_all" data-loading-text="Stopping..."
            >Stop all</button>
        </div>
      </h3>
      <div class="badges"></div>
      <div class="children"></div>
    </div>

    <div class="process" data-program-name="" data-pid="" >
      <h4><span class="name"></span>: <span class="program-state"></span></h4>
      <span class="program-description">Running for a while</span>
      <button class="btn btn-xs" onclick="open_stdout(this)">stdout</button>
      <button class="btn btn-xs" onclick="open_stderr(this)">stderr</button>
      <button class="btn btn-xs applog" onclick="open_applog(this)"
        title="Opens the application log file." >applog</button>
        <br>
      <div class="resources" style="display: none">
        <h6 class="resources-heading">Resources:</h6>

        <div class="resource fileno">
          File descriptors: <span class="textual-value"></span>
          <br/>
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              aria-valuenow="" aria-valuemin="0" aria-valuemax="">
          </div>
          </div>
        </div>

        <div class="resource vmsize">
          VM size: <span class="textual-value"></span>
          <br/>
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              aria-valuenow="" aria-valuemin="0" aria-valuemax="">
            </div>
          </div>
        </div>

        <div class="resource numthreads">
          Threads: <span class="numthreads">?</span>
        </div>

        <div class="resource numchildren">
          Child processes: <span class="numchildren">?</span>
        </div>

        <div class="resource cpu forspark">
          <div class="sparklabel">CPU (%):&nbsp;</div><div class="sparkline">...</div>
        </div>

        <div class="resource diskio forspark">
          <div class="sparklabel">Disk I/O (kB/s):&nbsp;</div><div class="sparkline">...</div>
        </div>
      </div>
      <br/>
      <div class="clearfix" style="clear:both;">
        <button type="button" class="btn btn-xs btn-primary process-action"
          data-action="start" data-loading-text="Starting...">Start</button>
        <button type="button" class="btn btn-xs btn-primary process-action"
          data-action="restart" data-loading-text="Restarting...">Restart</button>
        <button type="button" class="btn btn-xs btn-primary process-action"
          data-action="stop" data-loading-text="Stopping...">Stop</button>
      </div>

    </div>

    <table>
      <tr class="tags_group">
        <td data-toggle="buttons">
          <label class="btn btn-primary taggroup">
            <input type="checkbox" class="group"/>
            <span class="taggroup-label">taggroup</span>
          </label>
        </td>
        <td>
          <div class="tag-toggles" style="margin: 2px">
            <div class="taggroup btn-group" data-toggle="buttons">
            </div>
          </div>
        </td>
      </tr>
    </table>

    <label class="btn btn-primary tag">
      <input type="checkbox" class="filter" data-tag="tag" />
      <span class="tag-label">tag</span>
    </label>
  </div>

  <div class="modal fade" id="show-logs-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body"><pre></pre>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
  <script src="//gitcdn.github.io/bootstrap-toggle/2.0.0/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

  <script src="{% static "suponoff/suponoff.js" %}"></script>

    {% endblock body %}

  <script>
    var data = {{data|safe}};
    var processes = data2procs(data);
    var axes = [];

    function render_boxes_here() {
      render_boxes($('#groups'), axes, $('#rootbox'));
      update_levels($('#rootbox'));
    }

    $(document).ready(function() {

      var root = $('#rootbox');
      root
        .data('expanded', Object())
        .data('monitored', Object());
      setInterval(refresh_monitored, 60 * 1000, root.data('monitored'));

      var socket = io.connect(
        '//' + location.hostname
        + (location.port ? ':' + location.port : '') + '/ws')
      .on('process', function(data) {
        var procs = data2procs(data);
        for (var i in procs) {
          update_process(procs[i]);
        }
        update_counts($('#rootbox'))
      })
      .on('procinfos', function(data) {
        for (var i in data) {
          update_procinfo(data[i]);
        }
        update_levels($('#rootbox'));
      });

      $('#rootbox').on("click", ".toggle-box", function() {
        var box = $(this).closest('.box');
        toggle_box_expand(box);
      });

      $('#tags_control').on("toggle", "input.group", function() {
        var name = $(this).data('attr-name');
        if ($(this).prop('checked')) {
          axes.push(name);
        } else {
          axes.splice(axes.indexOf(name), 1);
        }
        render_boxes_here();
      });

      $('#tags_control').on("change", "input.group", function() {
        var name = $(this).data('attr-name');
        if ($(this).prop('checked')) {
          axes.push(name);
        } else {
          axes.splice(axes.indexOf(name), 1);
        }
        render_boxes_here();
      });

      $('#tags_control').on("change", "input.filter", function() {
        render_boxes_here();
      });

      $('#tag-filter-mode').on("change", function() {
        render_boxes_here();
      });

      $('#tag-filter-all').on("click", function() {
        $('#tags_control input.filter').prop('checked', true);
        $('#tags_control label.tag').addClass('active');
        render_boxes_here();
      });

      $('#tag-filter-none').on("click", function() {
        $('#tags_control input.filter').prop('checked', false);
        $('#tags_control label.tag').removeClass('active');
        render_boxes_here();
      });

      $('#rootbox').on("click", "button.process-action", process_action);
      $('#rootbox').on("click", "button.group-action", group_action);

      render_tags_controls(processes);
      render_groups(processes, $('#groups'));
      render_boxes_here();
    });
  </script>

  </body>

</html>
