<!DOCTYPE html>
<html lang="en">

{% load suponoff %}
{% load staticfiles %}

  <head>
	<meta charset="utf-8"/>

	{% block title %}
	<title>Supervisor On/Off</title>
	{% endblock title %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//gitcdn.github.io/bootstrap-toggle/2.0.0/css/bootstrap-toggle.min.css">

	<style>

	div.box {
		float: left;
		border: 1px solid;
		border-radius:10px;
		background-color: #eee;
		padding: 10px;
		margin: 10px;
		background: linear-gradient(#fff, #ccd);
		box-shadow: 5px 5px 5px #aaa;
	}

  div.box h3 {
    margin-top: 0;
  }

  .box .attvalue,
  .process .program-state {
    padding: 1px 0.2em;
    margin: 0 0.25em;
    border: 1px solid #444;
  }

  .box .toggle-box {
    cursor: pointer;
  }

  .process[data-state=RUNNING] .program-state,
  .box[data-state=RUNNING] > h3 > .attvalue {
    background: #00FF00;
  }
  .process[data-state=STOPPED] .program-state,
  .process[data-state=EXITED] .program-state,
  .box[data-state=STOPPED] > h3 > .attvalue {
    background: #FFFF00;
  }
  .process[data-state=BACKOFF] .program-state,
  .process[data-state=FATAL] .program-state,
  .box[data-state=ERRORS] > h3 > .attvalue {
    background: #FF5930;
  }

  .process[data-level="1"] .program-state,
  .box[data-level="1"] > h3 > .attvalue {
    background: #FFFF00 !important;
  }
  .process[data-level="2"] .program-state,
  .box[data-level="2"] > h3 > .attvalue {
    background: #FF5930 !important;
  }

  .box .buttons {
    float: right;
    margin-left: 0.2em;
  }

	div.server {
		float: left;
		border: 1px solid;
		border-radius:10px;
		background-color: #eee;
		padding: 10px;
		margin: 10px;
		background: linear-gradient(#fff, #ccd);
		box-shadow: 5px 5px 5px #aaa;
	}
	div.group {
		float: left;
		border:2px solid;
		border-radius:5px;
		padding: 4px;
		margin: 4px;
		background: #eee;
	}

	div.process {
		float: left;
		border: 1px solid;
		padding: 4px;
		margin: 4px;
		background: #ffffff;
	}

	.process-description {
		font-style: oblique;
		font-family: mono;
	}

	#show-logs-dialog pre {
		overflow: auto;
		word-break: normal !important;
		word-wrap: normal !important;
		white-space: pre !important;
	}

	.jqstooltip {
		width: 150px;
		height: 25px !important;
    }

	#page-loading {
		background: url("{% static 'suponoff/ajax-loader.gif'%}") no-repeat scroll center center;
		position: absolute;
		height: 100%;
		width: 100%;
	}

	</style>

	{% block extra_head %}
	{% endblock extra_head %}

  </head>


  <body>

  {% block body %}

  {% block content %}

  <table id="tags_control">
    <tr>
      <th>Groups</th>
      <th>Filters</th>
    </tr>
  </table>

  <div class="clearfix" style="clear:both; margin: 10px">
    Mode: <input id="tag-filter-mode" type="checkbox" data-toggle="toggle"
                 data-on="AND" data-off="OR">
    <a id="tag-filter-all" href="#">[all]</a>
    <a id="tag-filter-none" href="#">[none]</a>
  </div>

  {% endblock content %}

  <div id="rootbox"></div>

  <div id="protos" style="display:none">

    <div class="box">
      <h3><span class="attname toggle-box">:
        </span><span class="attvalue toggle-box"></span>
      <small class="nprocs-counts toggle-box">(<span class="nprocs-running">1</span>
          / <span class="nprocs-total">3</span> running)</small>
        <div class="buttons">
          <button type="button"
            class="btn btn-xs btn-success btn-startall group-action"
            data-action="start_all" data-loading-text="Starting..."
            >Start all</button>
          <button type="button"
            class="btn btn-xs btn-danger btn-stopall group-action"
            data-action="stop_all" data-loading-text="Stopping..."
            >Stop all</button>
        </div>
      </h3>
      <div class="badges" style="margin-bottom: 6px"></div>
      <div class="children" style="display:none"></div>
    </div>

    <div class="process" data-program-name="" data-pid="" >
      <h4><span class="name"></span>: <span class="program-state"></span></h4>
      <span class="program-description">Running for a while</span>
      <button class="btn btn-xs" onclick="open_stdout(this)">stdout</button>
      <button class="btn btn-xs" onclick="open_stderr(this)">stderr</button>
      <button class="btn btn-xs applog" onclick="open_applog(this)"
        title="Opens the application log file." >applog</button>
        <br>
      <h6 class="resources-heading" style="display: none">Resources:</h6>

      <div class="resource fileno" style="display: none">
        File descriptors: <span class="textual-value"></span>
        <br/>
        <div class="progress" style="margin-bottom: 2px; display: none">
        <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
        </div>
        </div>
      </div>

      <div class="resource vmsize" style="display: none">
        VM size: <span class="textual-value"></span>
        <br/>
        <div class="progress" style="margin-bottom: 2px; display: none">
        <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="">
        </div>
        </div>
      </div>

      <div class="resource numthreads" style="display: none">
        Threads: <span class="numthreads">?</span>
      </div>

      <div class="resource numchildren" style="display: none">
        Child processes: <span class="numchildren">?</span>
      </div>

      <div class="resource cpu" style="display: none; width=100%; height: 32px; line-height: 32px;">
        <div style="display: inline-block; height: 24px; vertical-align: bottom">CPU (%):&nbsp;</div><div style="display: inline-block; height: 32px; vertical-align: bottom" class="sparkline">...</div>
      </div>

      <div class="resource diskio" style="display: none; width=100%; height: 32px; line-height: 32px;">
        <div style="display: inline-block; height: 24px; vertical-align: bottom">Disk I/O (kB/s):&nbsp;</div><div style="display: inline-block; height: 32px; vertical-align: bottom" class="sparkline">...</div>
      </div>

      <br/>
      <div class="clearfix" style="clear:both;">
        <button type="button" class="btn btn-xs btn-primary process-action"
          data-action="start" data-loading-text="Starting...">Start</button>
        <button type="button" class="btn btn-xs btn-primary process-action"
          data-action="restart" data-loading-text="Restarting...">Restart</button>
        <button type="button" class="btn btn-xs btn-primary process-action"
          data-action="stop" data-loading-text="Stopping...">Stop</button>
      </div>

    </div>

    <table>
      <tr class="tags_group">
        <td data-toggle="buttons">
          <label class="btn btn-primary taggroup">
            <input type="checkbox" class="group"/>
            <span class="taggroup-label">taggroup</span>
          </label>
        </td>
        <td>
          <div class="tag-toggles" style="margin: 2px">
            <div class="taggroup btn-group" data-toggle="buttons">
            </div>
          </div>
        </td>
      </tr>
    </table>

    <label class="btn btn-primary tag">
      <input type="checkbox" class="filter" data-tag="tag" />
      <span class="tag-label">tag</span>
    </label>
  </div>

	<div class="modal fade" id="show-logs-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		  </div>
		  <div class="modal-body"><pre></pre>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
	<script src="//gitcdn.github.io/bootstrap-toggle/2.0.0/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

	<script src="{% static "suponoff/suponoff.js" %}"></script>

  	{% endblock body %}

  <script>
    var data = {{data|safe}};
    processes = data2procs(data);

    axes = [];

    expanded_boxes = Object();

    monitored = Object();
    setInterval(refresh_monitored, 60 * 1000, monitored);

    function filter_processes(procsin) {
      var filters = $('#tags_control input.filter:checked');

      if (!filters.length) {
        return procsin;
      }

      var mode_and = (!! $('#tag-filter-mode').prop('checked'));
      var procsout = [];
      $(procsin).each(function () {
        var proc = this;
        var should_add = mode_and;
        filters.each(function () {
          var filter = $(this);
          if (filter.data('attr-name')) {
            var pval = proc[filter.data('attr-name')] + '';
            var fval = filter.data('attr-value') + '';
            if (mode_and) {
              if (fval != pval) should_add = false;
            } else {
              if (fval == pval) should_add = true;
            }
          } else {
            var tag = filter.data('attr-value') + '';
            if (mode_and) {
              if (proc.tags.indexOf(tag) == -1) should_add = false;
            } else {
              if (proc.tags.indexOf(tag) >= 0) should_add = true;
            }
          }
        });

        if (should_add) {
          procsout.push(proc);
        }
      });

      return procsout;
    }

    function render_box(process, target, axes) {
      var attr, val, cls;
      if (axes.length) {
        var attr = axes[0];
        var val = process[attr] + '';   // the string "undefined" if none
        var cls = 'attr-' + attr + '-' + val;
        var box = target.find('.' + cls).first();
        if (!box.length) {
          var box = $('#protos .box').clone().addClass(cls);
          box.addClass('attr-' + attr);
          box.data('attname', attr);
          box.data('attvalue', val);
          box.data('nprocs', 0);
          if (attr == 'sup_group') {
            box.addClass('procgroup')
              .data('supervisor', process.supervisor)
              .data('group', process.group);
            box.find('.attname').text("");
            box.find('.attvalue').text(process.group);
            for (var i in process.tags) {
              box.find('.badges').append(
                '<span class="badge">' + process.tags[i] + '</span> ');
            }
          } else {
            box.find('.attname').text(attr);
            box.find('.attvalue').text(val);
          }
          insert_box_inplace(box, target);
        }
        box.data('nprocs', box.data('nprocs') + 1);
        render_box(process, box.find('.children').first(), axes.slice(1));
      } else {
        var box = $('#protos .process').clone();
        render_process(process, box);
        insert_box_inplace(box, target);
      }
    }

    function insert_box_inplace(box, target) {
      // Find the place to insert to keep them in order
      var cc = target.children();
      var ins = false;
      for (var i = 0, ii = (cc.length); i < ii; i++) {
        var ch = $(cc[i]);
        if (box.data('attvalue') < ch.data('attvalue')) {
          ch.before(box);
          ins = true;
          break;
        }
      }
      if (!ins) {
        target.append(box);
      }
    }

    function render_process(process, box) {
      box.attr('id', process.id);
      box.find('.name').text(process.process);
      box.data('attvalue', process.process);    // for sorting
      update_process(process, box);
    }

    function update_process(process, box) {
      if (!box) { box = $('#' + process.id) }
      box.data('process', process);
      box.attr('data-state', process.statename);
      box.find('.program-state').text(process.statename);
    }

    function render_boxes(axes) {
      axes = axes.concat(['sup_group']);
      var root = $('#rootbox');
      root.empty();

      var procs = filter_processes(processes);
      $(procs).each(function() {
        render_box(this, root, axes);
      });

      update_counts();

      for (var cls in expanded_boxes) {
        if (!expanded_boxes[cls]) continue;
        var box = $(cls);
        if (box.length == 1) {
          toggle_box_expand(box);
        }
      }
    }

    function update_counts() {
      // Reset counters
      $('#rootbox .box')
        .data('nprocs', 0).data('nrunning', 0).data('nerrors', 0);

      // Accumulate the counts in the parent boxes
      $('#rootbox .process').each(function () {
        var proc = $(this);
        proc.parents('.box').each(function () {
          var box = $(this);
          box.data('nprocs', box.data('nprocs') + 1);
          var sname = proc.data('process').statename;
          if (sname == 'RUNNING') {
            box.data('nrunning', box.data('nrunning') + 1);
          }
          else if (sname == 'BACKOFF' || sname == 'FATAL') {
            box.data('nerrors', box.data('nerrors') + 1);
          }
        });
      });

      // Render the elements in the boxes
      $('#rootbox .box').each(function () {
        var box = $(this);
        if (box.data('nprocs') > 1) {
          var span = box.find('.nprocs-counts').show();
          span.find('.nprocs-running').text(box.data('nrunning'));
          span.find('.nprocs-total').text(box.data('nprocs'));
        } else {
          box.find('.nprocs-counts').hide();
          box.find('.btn-startall').text('Start');
          box.find('.btn-stopall').text('Stop');
        }
        if (box.data('nrunning') == box.data('nprocs')) {
          box.attr('data-state', 'RUNNING');
        } else if (box.data('nerrors') > 0) {
          box.attr('data-state', 'ERRORS');
        } else {
          box.attr('data-state', 'STOPPED');
        }
      });
    }

    function update_levels() {
      // Reset counters
      $('#rootbox .box').data('level', 0);

      // Accumulate the counts in the parent boxes
      $('#rootbox .process').each(function () {
        var proc = $(this);
        proc.parents('.box').each(function () {
          var box = $(this);
          box.data('level',
            Math.max(box.data('level'), proc.data('level') || 0));
        });
      });

      // Render the elements in the boxes
      $('#rootbox .box').each(function () {
        var box = $(this);
        box.attr('data-level', box.data('level'));
      });
    }

    function render_tags_controls() {
      var got_axes = collect_axes(processes);
      $(got_axes).each(function () {
        var attrname = this.label;
        var tr = $('#protos .tags_group').clone().appendTo('#tags_control');
        if (attrname != '') {
          tr.find('.taggroup-label').text(attrname);
        } else {
          tr.find('.taggroup-label').closest('td').empty();
        }
        tr.find('input').data('attr-name', attrname);
        $(this.values).each(function () {
          var attrval = this;
          var btn = $('#protos label.tag').clone()
            .appendTo(tr.find('div.taggroup'));
          btn.find('span.tag-label').text(attrval);
          btn.children('input')
            .data('attr-name', attrname)
            .data('attr-value', attrval);
        });
      });
    }

    function get_box_path(box) {
      var cls = '.box.attr-' + box.data('attname') + '-' + box.data('attvalue');
      var par = box.parents('.box').first();
      if (par.length) {
        cls = get_box_path(par) + ' ' + cls;
      }
      return cls;
    }

    function toggle_box_expand(box) {
      var ch = box.find('.children').first();
      if (ch.is(':visible')) {
        ch.hide();
        expanded_boxes[get_box_path(box)] = false;
        set_group_monitor(box, monitored, false);
      }
      else {
        ch.show();
        expanded_boxes[get_box_path(box)] = true;
        set_group_monitor(box, monitored, true);
      }
    }

    $(document).ready(function() {
      var socket = io.connect(
        '//' + location.hostname
        + (location.port ? ':' + location.port : '') + '/ws')
      .on('process', function(data) {
        var procs = data2procs(data);
        for (var i in procs) {
          update_process(procs[i]);
        }
        update_counts()
      })
      .on('procinfos', function(data) {
        for (var i in data) {
          update_procinfo(data[i]);
        }
        update_levels();
      });

      $('#rootbox').on("click", ".toggle-box", function() {
        var box = $(this).closest('.box');
        toggle_box_expand(box);
      });

      $('#tags_control').on("toggle", "input.group", function() {
        var name = $(this).data('attr-name');
        if ($(this).prop('checked')) {
          axes.push(name);
        } else {
          axes.splice(axes.indexOf(name), 1);
        }
        render_boxes(axes);
      });

      $('#tags_control').on("change", "input.group", function() {
        var name = $(this).data('attr-name');
        if ($(this).prop('checked')) {
          axes.push(name);
        } else {
          axes.splice(axes.indexOf(name), 1);
        }
        render_boxes(axes);
      });

      $('#tags_control').on("change", "input.filter", function() {
        render_boxes(axes);
      });

      $('#tag-filter-mode').on("change", function() {
        render_boxes(axes);
      });

      $('#tag-filter-all').on("click", function() {
        $('#tags_control input.filter').prop('checked', true);
        $('#tags_control label.tag').addClass('active');
        render_boxes(axes);
      });

      $('#tag-filter-none').on("click", function() {
        $('#tags_control input.filter').prop('checked', false);
        $('#tags_control label.tag').removeClass('active');
        render_boxes(axes);
      });

      $('#rootbox').on("click", "button.process-action", process_action);
      $('#rootbox').on("click", "button.group-action", group_action);

      render_tags_controls();
      render_boxes(axes);
    });
  </script>

  </body>

</html>
